// application.scss

@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Lato|Lobster');

h1, h2 {
  font-family: "Lobster", sans-serif;
  font-size: 60px;
  font-color: #FFD700;

}

h3 {
  font-family: "Lato", sans-serif;
  font-color: #2B9EB3;
  font-size: 35px;
  font-weight: bold;
}

h4 {
  font-family: "Lato", sans-serif;
  font-color: #2B9EB3;
  font-size: 20px;
  font-weight: bold;
}


p{
  font-family: "Lato", sans-serif;
  font-color: #3C3A3F;
  font-size: 20;
}

body {
  background-color: #5F9EA0;
  margin: auto;
  padding: 0 100px 20px;
}

li {
  font-family: "Lato", sans-serif;
  font-color: #2B9EB3;
  font-size: 20px;
}

navbar {


}
